<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <!-- Appenders -->
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%-5p] [%t] (%F:%L) - %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="levelMin" value="debug"/>
            <param name="levelMax" value="error"/>
            <param name="AcceptOnMatch" value="true"/>
        </filter>
    </appender>

    <appender name="infolog" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="/data/log/tszj/info.log"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd'.log'"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%-5p] [%t] (%F:%L) - %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMax" value="INFO"/>
            <param name="LevelMin" value="INFO"/>
        </filter>
    </appender>

    <appender name="errorlog" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="/data/log/tszj/error.log"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd'.log'"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%-5p] [%t] (%F:%L) - %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMax" value="ERROR"/>
            <param name="LevelMin" value="ERROR"/>
        </filter>
    </appender>

    <appender name="debuglog" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="/data/log/tszj/debug.log"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd'.log'"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%-5p] [%t] (%F:%L) - %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMax" value="DEBUG"/>
            <param name="LevelMin" value="DEBUG"/>
        </filter>
    </appender>

    <!-- Application Loggers -->
    <logger name="com.tszj">
        <level value="debug"/>
        <appender-ref ref="errorlog"/>
        <appender-ref ref="debuglog"/>
        <appender-ref ref="infolog"/>
    </logger>

    <!-- Root Logger -->
    <root>
        <level value="error"/>
        <appender-ref ref="console"/>
    </root>

</log4j:configuration>
